/* Add any CSS styles or rules here */

body {


 

.playwrite-gb-s-<uniquifier> {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  }
  background-color: #c469a749; /* Hex color */
}



