/* Add any CSS styles or rules here */

body {

  
    font-family: "Playwrite GB S", cursive;
  font-weight: 400;
  font-style: normal;

background-color: rgba(255, 192, 203, 0.527);
  }
  
footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  border-top: 2px solid rgb(0, 0, 0)
}


