/* Add any CSS styles or rules here */

body {

  .indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;

  }
  background-color: #c469a749; /* Hex color */
}



