---
import Project from "../../components/Project.astro"
---

<Project
  title="Image Filtering Project"
  assignment="Create an image-filter that gives photos a custom feel"
>
  <p>My project was super fun, I worked hard on it!</p>
  <! -- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe
  src="https://iacs-cs.github.io/image-filter-project-chanya-s-goon-the-return/"
  title="Image Filtering Project"
  width="100%"
  height="800px"
></iframe>

</Project>