---
import Project from "../../components/Project.astro"
---

<Project
  title="MASH Game Project"
  assignment="Christmas Themed Word Scramble"
>
  <p></p></p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/mash-game-chanya-s-goons/" 
    title="MASH Game Project"
    width="100%"
    height="800px"
  ></iframe>

</Project>