---
import Project from "../../components/Project.astro"
---

<Project
  title="Systems Project"
  assignment="Created a disease model simulation"
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://github.com/IACS-CS/systems-project-disease-modeling-c-s" 
    title="Systems Project"
    width="100%"
    height="800px"
  ></iframe>

</Project>
