---
import Project from "../../components/Project.astro"
---

<Project
  title="Third Page"
  assignment="Create a program built on the concept of binary search"
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://curly-pancake-x5vrgj4vx44qh9645-5173.app.github.dev/" 
    title="Guess the Color Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>