---
import Project from "../../components/Project.astro"
---

<Project
  title="Turtle Project"
  assignment="Drew a Pacman"
>
  <p></p></p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
   <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="vEBLZwq" data-pen-title="Real Pac-Man" data-user="bush912" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/bush912/pen/vEBLZwq">
  Real Pac-Man</a> by bush912 (<a href="https://codepen.io/bush912">@bush912</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>
  <iframe 
    src="https://codepen.io/bush912/pen/vEBLZwq?editors=0010"
    title="Turtle Project"
    width="100%"
    height="800px"
  ></iframe>

</Project>